.footer-custom {
    background-color: #092208;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-custom a {
    color: #f0eee8;
    text-decoration: none;
}

.footer-custom a:hover {
    color: #080804;
    text-decoration: underline;
}